.container
  %h2.m-3.text-center Potential Duplicates
  - @duplicate_users.each do |duplicates|
    %ul.list-group.m-3
      -duplicates.each do |user|
        %li.list-group-item
          = user.details_summary

  %h2.m-3.text-center Non Duplicates
  %ul.list-group
    - @non_duplicate_users.each do |user|
      %li.list-group-item
        = user.details_summary

  = render 'upload_form'
